//  Include fonts

// font-family: 'ProximaNova';
@font-face {
  font-family: 'ProximaNova';
  font-weight: normal;
  src: local('ProximaNova'), local('ProximaNova-Regular');
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
  url('../fonts/ProximaNova-Regular.svg#Roboto-Regular') format('svg');
}

// font-family: 'ProximaNova';
// font-weight: 700;
@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: local('ProximaNova'), local('Roboto-Black');
  src: url('../fonts/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Black.woff') format('woff'),
  url('../fonts/ProximaNova-Black.ttf') format('truetype'),
  url('../fonts/ProximaNova-Black.svg#Roboto-Black') format('svg');
}

// font-family: 'ProximaNova';
// font-weight: 900;
@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  src: local('ProximaNova'), local('Roboto-Extrabld');
  src: url('../fonts/ProximaNova-Extrabld.eot');
  src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
  url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
  url('../fonts/ProximaNova-Extrabld.svg#Roboto-Extrabld') format('svg');
}

// Main title style
h1, h2, h3, h4, h5 {
  font-family: $font-family;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}
