//Hero
.hero {
  padding: 0;
  background-image: url('../images/hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 570px;
    padding: 100px;
    background-color: #f7b516;

    @include max-w($screen-iPad-landscape) {
      padding: 75px;
    }

    @include max-w($screen-lg) {
      max-width: 500px;
      padding: 50px;
    }

    @include max-w($screen-md) {
      max-width: 480px;
      padding: 40px;
    }

    @include max-w($screen-sm) {
      padding: 30px;
    }

    @include max-w(320px) {
      padding: 20px 15px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;

    @include max-w($screen-xxl) {
      font-size: calc((100vw - 320px) / (1400 - 320) * (40 - 28) + 28px);
    }

    @include max-w($screen-lg) {
      margin-bottom: 30px;
    }
  }

  &__description {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 900;

    @include max-w($screen-xxl) {
      font-size: calc((100vw - 320px) / (1400 - 320) * (25 - 18) + 18px);
    }

    @include max-w($screen-lg) {
      margin-bottom: 50px;
    }
  }

  &__advantages {
    @include clearlist();

    li {
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      @include max-w($screen-lg) {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .marker {
        margin-right: 20px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

//Price
.price {
  padding-top: 105px;
  padding-bottom: 95px;
  background-image: url('../images/price-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    text-align: right;
  }

  &__title {
    width: 100%;
    max-width: 445px;
    margin-left: auto;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 700;

    @include max-w($screen-xxl) {
      font-size: calc((100vw - 320px) / (1400 - 320) * (30 - 24) + 24px);
    }
  }

  &__form-wrapper {
    width: 100%;
    max-width: 770px;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w($screen-xl-sm) {
      flex-direction: column;
    }

    .left-part {
      width: 50%;
      padding-right: 15px;

      @include max-w($screen-md) {
        padding-right: 7.5px;
      }

      @include max-w($screen-xl-sm) {
        width: 100%;
        padding-right: 0;
      }
    }

    .right-part {
      width: 50%;
      padding-left: 15px;

      @include max-w($screen-md) {
        padding-left: 7.5px;
      }

      @include max-w($screen-xl-sm) {
        width: 100%;
        padding-left: 0;
      }
    }

    .field {
      position: relative;

      &.email {
        margin-bottom: 30px;

        @include max-w($screen-md) {
          margin-bottom: 15px;
        }

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 18px;
          background: url(../images/form-icons/envelope.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
      }

      &.tel {
        margin-bottom: 30px;

        @include max-w($screen-md) {
          margin-bottom: 15px;
        }

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/form-icons/call-answer.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
      }

      &.time {
        width: 100%;
        max-width: 280px;
        margin-left: auto;

        @include max-w($screen-xl-sm) {
          display: none;
        }

        &:after {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/form-icons/clock.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        span {
          display: block;
          padding-right: 60px;
        }
      }
    }
  }
}

//Wait
.wait {
  background-color: #08243e;
  color: #fff;

  &__items {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w($screen-lg) {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &__item {
    padding: 0 15px;
    width: 25%;
    text-align: center;

    @include max-w($screen-lg) {
      width: 50%;
    }

    @include max-w($screen-xl-sm) {
      width: 100%;
    }

    @include max-w($screen-sm) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }

    &-icon img {
      max-width: 100px;
      max-height: 93px;

      @include max-w($screen-md) {
        max-width: 80px;
        max-height: 73px;
      }
    }

    &-description {
      width: 100%;
      max-width: 220px;
      margin: 50px auto;
      font-size: 18px;
      line-height: 1.2;

      @include max-w($screen-md) {
        font-size: 16px;
      }

      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }
  }

}

//Search detail
.search-detail {
  background-image: url('../images/search-detail-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: center;

  .section-title {
    font-size: 30px;

    @include max-w($screen-xxl) {
      font-size: calc((100vw - 320px) / (1400 - 320) * (30 - 22) + 22px);
    }
  }

  .section-subtitle {
    margin: 35px 0 55px;
  }

  &__form-wrapper {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;

    @include max-w($screen-md) {
      margin: 0 -7.5px;
    }

    @include max-w(767px) {
      max-width: 560px;
      margin: 0 auto;
      flex-direction: column;
    }

    .field {
      width: 33.33%;
      padding: 0 15px;
      position: relative;

      @include max-w($screen-md) {
        padding: 0 7.5px;
      }

      @include max-w(767px) {
        width: 100%;
      }

      &.tel {
        margin-bottom: 30px;

        @include max-w(767px) {
          margin-bottom: 15px;
        }

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/form-icons/call-answer.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 45px;
          transform: translateY(-50%);

          @include max-w($screen-lg) {
            right: 35px;
          }

          @include max-w($screen-md) {
            right: 25px;
          }
        }
      }

      &.vendor-code {
        @include max-w(767px) {
          margin-bottom: 15px;
        }
      }
    }
  }

  &__call-back {
    span {
      display: block;
      margin: 30px 0 15px;
    }

    &--tel {
      a {
        display: block;
        font-size: 30px;
        font-weight: 700;
        color: #fff;

        @include max-w($screen-md) {
          font-size: 28px;
        }
      }
    }
  }
}

//Transportation
.transportation {
  color: $text-color;
  text-align: center;

  .section-title {
    margin-bottom: 100px;

    @include max-w($screen-sm) {
      margin-bottom: 50px;
    }
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w(767px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;
    text-align: center;

    @include max-w(767px) {
      width: 100%;
      margin-bottom: 25px;
    }

    &:last-of-type {
      @include max-w(767px) {
        margin-bottom: 0;
      }
    }

    &-img img {
      max-height: 300px;
      max-width: 230px;

      @include max-w($screen-lg) {
        max-height: 270px;
        max-width: 200px;
      }
    }

    &-description {
      width: 100%;
      max-width: 335px;
      margin: 40px auto;
      font-size: 18px;

      @include max-w($screen-md) {
        font-size: 16px;
      }
    }

    &-link {
      color: $text-color;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}

//Bonus
.bonus {
  background-color: #08243e;
  color: #fff;

  .section-title {
    margin-bottom: 100px;

    @include max-w($screen-sm) {
      margin-bottom: 50px;
    }
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w($screen-lg) {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &__item {
    width: 25%;
    padding: 0 15px;
    text-align: center;

    @include max-w($screen-lg) {
      width: 50%;
    }

    @include max-w($screen-xl-sm) {
      width: 100%;
    }

    @include max-w($screen-sm) {
      margin-bottom: 40px;
    }

    &:last-of-type {
      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }

    &-icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;
    }

    &-description {
      width: 100%;
      max-width: 245px;
      margin: 40px auto;
      font-size: 18px;

      @include max-w($screen-md) {
        font-size: 16px;
      }

      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }
  }
}

//Questions
.questions {
  background-color: #0b3554;
  color: #fff;

  &__row {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include max-w(767px) {
      flex-direction: column;
    }
  }

  &__left-part {
    width: 50%;
    padding: 0 15px;

    @include max-w(767px) {
      width: 100%;
      max-width: 560px;
      margin: 0 auto;
    }
  }

  &__list {
    padding-left: 20px;

    li {
      padding-left: 30px;
      margin-bottom: 50px;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      color: #fff;
      transition: .2s all;

      @include max-w($screen-lg) {
        margin-bottom: 30px;
      }

      @include max-w($screen-sm) {
        padding-left: 15px;
        font-size: 15px;
      }

      .accent {
        display: inline-block;
        color: #fff;
        cursor: pointer;
        transition: .2s all;

        &:hover {
          color: #579eff;
          transition: .2s all;
        }
      }

      .open-list {
        display: inline-block;
      }
    }

    &--wrap {
      display: none;
      position: absolute;
      z-index: 10;
    }

    &--description {
      width: 100%;
      max-width: 330px;
      margin-top: 25px;
      padding: 15px 45px 20px 15px;
      background-color: #fff;
      color: $text-color;
      font-size: 14px;
      font-weight: 400;
      position: relative;
      box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.75);

      @include max-w($screen-sm) {
        padding-right: 35px;
      }

      &:before {
        content: '';
        display: block;
        width: 20px;
        height: 15px;
        transform: rotate(45deg) skew(0deg);
        background-color: #fff;
        position: absolute;
        top: -3px;
        left: 15px;
      }

      p:last-of-type {
        margin-bottom: 0;
      }
    }

    &--close {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 10;
      cursor: pointer;

      span {
        display: block;
        width: 90%;
        height: 2px;
        background: #333;
        position: absolute;
        top: 50%;
        left: 0;
        transform: rotate(45deg);

        &:last-of-type {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__load-more {
    &--text {
      margin-left: 20px;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__right-part {
    width: 50%;
    padding: 0 15px;

    @include max-w(767px) {
      width: 100%;
      max-width: 530px;
      margin: 0 auto 30px;
      order: -1;
    }

    &--image {
      position: relative;
    }

    &--accent-text {
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(11,53,84, .8);
      padding: 9px 30px 9px 20px;

      @include max-w($screen-sm) {
        padding-right: 20px;
        font-size: 12px;
      }
    }
  }
}

//Convenient
.convenient {
  &__items {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w(767px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;
    text-align: center;

    @include max-w(767px) {
      width: 100%;
    }

    @include max-w($screen-sm) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }

    &-icon img {
      max-width: 100px;
      max-height: 100px;
    }

    &-description {
      width: 100%;
      max-width: 240px;
      margin: 50px auto;
      font-size: 18px;
      line-height: 1.2;

      @include max-w($screen-md) {
        font-size: 16px;
      }

      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }
  }
}

//Warehouse
.warehouse {
  background-color: #0b3554;
  color: #fff;
  text-align: center;

  &__carousel-wrap {
    position: relative;

    .slick-arrow {
      font-size: 30px;
      color: #fff;
      background-color: transparent;
      outline: 0;
      border: none;
      padding: 0;
      overflow: hidden;
      cursor: pointer;

      @include max-w($screen-md) {
        font-size: 25px;
      }
    }
  }

  &__prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    z-index: 10;

    @include max-w($screen-lg) {
      left: 30px;
    }
  }

  &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    z-index: 10;

    @include max-w($screen-lg) {
      right: 30px;
    }
  }

  &__slider {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;

    @include max-w($screen-lg) {
      margin: 0 -7.5px;
    }
  }

  &__slide {
    width: 33.33%;
    padding: 0 15px;

    @include max-w($screen-lg) {
      padding: 0 7.5px;
    }

    @include max-w($screen-md) {
      width: 100%;
    }

    img {
      margin: 0 auto;
    }
  }
}

//Team
.team {
  color: $text-color;
  text-align: center;

  .section-title {
    margin-bottom: 100px;

    @include max-w($screen-sm) {
      margin-bottom: 50px;
    }
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @include max-w(767px) {
      flex-direction: column;
    }
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;

    @include max-w(767px) {
      width: 100%;
    }

    @include max-w($screen-sm) {
      margin-bottom: 40px;
    }

    &:last-of-type {
      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }

    &-icon {
      width: 170px;
      height: 170px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffbc3b;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;

      @include max-w($screen-md) {
        width: 150px;
        height: 150px;
      }

      @include max-w($screen-sm) {
        width: 130px;
        height: 130px;
      }
    }

    &-description {
      width: 100%;
      max-width: 305px;
      margin: 40px auto;
      font-size: 18px;

      @include max-w($screen-md) {
        font-size: 16px;
      }

      @include max-w($screen-sm) {
        margin-bottom: 0;
      }
    }
  }
}

//Consultation
.consultation {
  background-color: #0d324d;
  color: #fff;
  background-image: url('../images/consultation-bg.png');
  background-position: right bottom -190px;
  background-repeat: no-repeat;
  //background-size: cover;
  text-align: center;

  .section-title {
    font-size: 30px;

    @include max-w($screen-xxl) {
      font-size: calc((100vw - 320px) / (1400 - 320) * (30 - 22) + 22px);
    }
  }

  &__form-wrapper {
    margin: 0 -15px;
    display: flex;
    flex-direction: row;

    @include max-w($screen-md) {
      max-width: 400px;
      margin: 0 auto;
      flex-direction: column;
    }

    .field {
      width: 50%;
      padding: 0 15px;
      position: relative;

      @include max-w($screen-md) {
        width: 100%;
      }

      &.tel {
        margin-bottom: 30px;

        @include max-w($screen-md) {
          margin-bottom: 15px;
        }

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/form-icons/call-answer.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 45px;
          transform: translateY(-50%);
        }
      }
    }
  }
}

//Office
.office {
  background-image: url('../images/office-bg.png');
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;

  .section-title {
    font-size: 30px;
  }

  &__address {
    margin-top: 100px;

    @include max-w($screen-xl-sm) {
      margin-top: 70px;
    }

    address {
      font-size: 18px;

      @include max-w($screen-md) {
        font-size: 16px;
      }
    }

    &--tel {
      a {
        font-size: 24px;
        font-weight: 700;
        color: $text-color;

        @include max-w($screen-md) {
          font-size: 22px;
        }
      }
    }
  }
}