//Hero
.hero {
  background-image: url('../images/hero-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 570px;
    padding: 100px;
    background-color: #f7b516;
  }

  &__title {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__description {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 900;
  }

  &__advantages {
    @include clearlist();

    li {
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      &:last-of-type {
        margin-bottom: 0;
      }

      .marker {
        margin-right: 20px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

//Price
.price {
  padding-top: 105px;
  padding-bottom: 95px;
  background-image: url('../images/price-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    text-align: right;
  }

  &__title {
    width: 100%;
    max-width: 445px;
    margin-left: auto;
    margin-bottom: 55px;
    font-size: 30px;
    font-weight: 700;
  }

  &__form-wrapper {
    width: 100%;
    max-width: 770px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .left-part {
      width: 50%;
      padding-right: 15px;
    }

    .right-part {
      width: 50%;
      padding-left: 15px;
    }

    .field {
      position: relative;

      &.email {
        margin-bottom: 30px;

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 18px;
          background: url(../images/form-icons/envelope.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
      }

      &.tel {
        margin-bottom: 30px;

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/form-icons/call-answer.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 30px;
          transform: translateY(-50%);
        }
      }

      &.time {
        width: 100%;
        max-width: 280px;
        margin-left: auto;

        &:after {
          content: '';
          display: block;
          width: 30px;
          height: 30px;
          background: url(../images/form-icons/clock.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }

        span {
          display: block;
          padding-right: 60px;
        }
      }
    }
  }
}

//Wait
.wait {
  padding: 100px 0;
  background-color: #08243e;
  color: #fff;

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    margin: 35px 0 95px;
    font-size: 20px;
    text-align: center;
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    padding: 0 15px;
    width: 25%;
    text-align: center;

    &-icon img {
      max-width: 100px;
      max-height: 93px;
    }

    &-description {
      width: 100%;
      max-width: 220px;
      margin: 50px auto;
      font-size: 18px;
      line-height: 1.2;
    }
  }

}

//Search detail
.search-detail {
  padding: 100px 0;
  background-image: url('../images/search-detail-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-align: center;

  &__title {
    font-size: 30px;
    font-weight: 700;
  }

  &__subtitle {
    margin: 35px 0 55px;
    font-size: 20px;
  }

  &__form-wrapper {
    margin: 0 -15px;
    display: flex;

    .field {
      width: 33.33%;
      padding: 0 15px;
      position: relative;

      &.tel {
        margin-bottom: 30px;

        &:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: url(../images/form-icons/call-answer.png);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 45px;
          transform: translateY(-50%);
        }
      }
    }
  }

  &__call-back {
    span {
      display: block;
      margin: 30px 0 15px;
    }

    &--tel {
      a {
        display: block;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
      }
    }
  }
}

//Transportation
.transportation {
  padding: 100px 0;
  color: $text-color;
  text-align: center;

  &__title {
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;
    text-align: center;

    &-img img {
      max-height: 300px;
      max-width: 230px;
    }

    &-description {
      width: 100%;
      max-width: 335px;
      margin: 40px auto;
      font-size: 18px;
    }

    &-link {
      color: $text-color;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;

      &:hover {
        color: $text-color;
        text-decoration: underline;
      }
    }
  }
}

//Bonus
.bonus {
  padding: 100px 0;
  background-color: #08243e;
  color: #fff;

  &__title {
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 25%;
    padding: 0 15px;
    text-align: center;

    &-icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;
    }

    &-description {
      width: 100%;
      max-width: 245px;
      margin: 40px auto;
      font-size: 18px;
    }
  }
}

//Convenient
.convenient {
  padding: 100px 0;

  &__title {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__subtitle {
    margin: 35px 0 95px;
    font-size: 20px;
    text-align: center;
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;
    text-align: center;

    &-icon img {
      max-width: 100px;
      max-height: 100px;
    }

    &-description {
      width: 100%;
      max-width: 240px;
      margin: 50px auto;
      font-size: 18px;
      line-height: 1.2;
    }
  }
}

//Team
.team {
  padding: 100px 0;
  color: $text-color;

  &__title {
    margin-bottom: 100px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
  }

  &__items {
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    width: 33.33%;
    padding: 0 15px;
    text-align: center;

    &-icon {
      width: 170px;
      height: 170px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #ffbc3b;
      border-radius: 50%;
      font-size: 30px;
      font-weight: 700;
    }

    &-description {
      width: 100%;
      max-width: 305px;
      margin: 40px auto;
      font-size: 18px;
    }
  }
}